{% extends "base.html" %}
{% block title %}Customer Profile{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<style>
    main.container-fluid {
        padding: 20px;
        margin-top:5%;
        height:50%;

    }

    .non-editable {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-picture-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto; /* Center the container horizontally */
        margin-bottom: 15px;
    }

    .profile-picture-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .non-editable p {
        margin-bottom: 10px;
        text-align: center;
        font-size:20px
    }

    .btn-edit {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        background-color: #4caf50;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        transition: background-color 0.3s;
    }

    .btn-edit:hover {
        background-color: #45a049;
    }

    #Nav a {
        width:100%;

    }


</style>


<main class="container-fluid">
    <div class="row">

        <div class="col-4" id="Nav">

            <a href="/retrieveProfile" class="btn btn-success">Account Details</a>
            <a href="/changePassword" class="btn btn-success active">Change Password</a>
            <a href="/manage-address" class="btn btn-success">Saved Address</a>
            <a href="/manage-card" class="btn btn-success">Saved Cards</a>
            <a href="/boughtProducts" class="btn btn-success">Purchase History</a>

        </div>

        <div class="col-8">
            <div class="container">

                <form method="POST" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <h1 class="formtitle">Reset Password</h1>
    
                    <div class="forminput-group">
                    {{ render_field(form.old_password, class="form-control") }}
                    </div>
    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == 'old_password_error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
    
                    <div class="forminput-group">
                    {{ render_field(form.new_password, class="form-control") }}
                    </div>
    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == 'password_error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
    
                    <div class="forminput-group">
                    {{ render_field(form.confirm_password, class="form-control") }}
                    </div>
    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == 'confirm_error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
    
    
                    <input type="submit" value="Submit" class="btn btn-primary"/><br>
                </form>

            </div>

        </div>

    </div>

</main>

{% endblock %}
