{% extends "base.html" %}
{% block title %}Products System - Retrieve Products{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
    table {
        table-layout: fixed;
        width: 100%;
    }
    th, td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<a href="/retrieveProfile" class="btn btn-success active">Account Details</a>
<a href="/create-card" class="btn btn-success active">Create Card</a>

<h1 class="display-4">Retrieve Cards</h1>

<div>
    {% if count == 0 %}
    <p>There are no cards.</p>
    {% elif count == 1 %}
    <p>There is 1 card.</p>
    {% else %}
    <p>There are {{ count }} cards.</p>
    {% endif %}
</div>
</div>
<div>
    <table class="table table-striped">

        <thead>
            <tr>
                <th></th>
                <th>Email</th>
                <th>Last 4</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myMenu" class="card-list">
            {% for item_id in cards_dict %}
            <tr class="card-container ">
                <td></td>
                <td class="email">{{ cards_dict[item_id]['email'] }}</td>
                <td class="last4">{{ cards_dict[item_id]['last_4'] }}</td>
                <td>
                    <form action="{{url_for('delete_card', id=item_id)}}" method="POST">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{item_id}}">
                            Delete
                        </button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{item_id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Are you sure you want to delete Card: {{ cards_dict[item_id]['last_4'] }}?
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
{% endblock %}