{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<link type="text/css" href="{{ url_for('static',filename='Css/login.css') }}" rel="stylesheet">

<div class="loginContainer">

    <form class="form" id="login" method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <h1 class="form__title">Reset Password</h1>

        <div class="form__input-group">
        {{ render_field(form.entered_otp, class="form__input") }}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
              {% if category == 'OTP_error' %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
            {% endfor %}
        {% endwith %}

        <input class="form__button" type="submit" value="Submit"/>

        <p class="form__text">
        <a class="form__link" href="/">Back to Login?</a>
        </p>
    </form>
</div>

{% endblock %}