{% extends "base.html" %}
{% block title %} Reset Password {% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<link type="text/css" href="{{ url_for('static',filename='Css/login.css') }}" rel="stylesheet">

<div class="col-4">

</div>
<div class="loginContainer col-4">

<form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <h1 class="form__title">Reset Password</h1>

    <div class="form__input-group">
    {{ render_field(form.password, class="form__input") }}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'password_error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <div class="form__input-group">
    {{ render_field(form.confirm_password, class="form__input") }}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'confirm_error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}


    <input type="submit" value="Submit" class="form__button"/><br>

    <p class="form__text">
        <a class="form__link" href="/">Back to log in</a>
    </p>
</form>

</div>


<div class="col-4">

</div>

{% endblock %}
