
body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
color: white;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
color: grey;
}